body{
	@include body();
}

h1, h2, h3, h4, ,h5, h6{
	font-family:$title_font;
}
h1{
	font-size:$h1_size;
	padding:$padding_h1;
}
h2{
	color:$darkgray_color;
	font-size:$h2_size;
	font-weight:700;
	padding:$padding_h2;
}
h3{
	color:$darkgray_color;
	font-size:$h3_size;
	font-weight:700;
}
h4{
	color:$darkgray_color;
	font-weight:700;
	padding-top:$padding_h4_top;
	padding-bottom:$padding_h4_bottom;
}
h5{
	color:$lightgray_color;
	font-size:$h5_size;
	line-height:($h5_size / 0.8);
}
h6{
	color:$gray_color;
	font-family:$body_font;
	text-transform:$uppercase;
	font-weight:700;
}

p{
	color:$lightgray_color;
	font-size:$p_size;
	line-height:($p_size / 0.7);
}

.btn.btn-default, 
.navbar-default li a.btn.btn-default{
	@include button();
	&:hover, &:focus{
		@include button();
		@include btnHoverFocus();
	}
}

.container-fluid{
	padding:$padding_0;
	.row{
		margin-left:$margin_0;
		margin-right:$margin_0;
		[class*="col-"]{
			padding-left:$padding_0;
			padding-right:$padding_0;
		}
	}
}

.thumbnail{
	border-radius:10px;
}

#header{
	height: 90vh;
	.nav-transparent{
		background-color:$transparent;
		border-color:$transparent;
	}
	.nav-white{
		background-color:$white_color;
		border-color:$white_color;
		.navbar-header{
			.navbar-brand{
				color:$darkgray_color;;
			}
		}
		.navbar-collapse{
			.navbar-nav{
				li{
					a, a:hover{
						color:$darkgray_color;
					}
				}
			}
		}
	}

	.navbar-default{
		@extend .nav-transparent;
		padding:$padding_navbar;
		.navbar-brand{
			color:$white_color;
			text-transform:$uppercase;
			&:hover{
				color:$white_color;
			}
		}
		.navbar-nav{
			li{
				a, a:hover{
					color:$white_color;
					text-transform:$uppercase;
				}
			}
			li:hover{
				background-color: $white_bg;
			}
			.dropdown-menu{
				li a{
					color:$darkgray_color;
					&:hover{
						color:$white_color;
						background-color:$pink_color;
					}
				}
			}		
		}
	}

	.carousel{
		.carousel-inner{
			.item{
				img{
					width: 100%;
					height:$carousel-slide-height;

				}
				.carousel-caption{
					bottom:($carousel-slide-height / 9);
					z-index:2;
					span{
						font-size:$span_size;
						padding:$padding_titleSpan;
					}
					p{
						padding-top:$margin_btnTitle;
					}
				}
			}
		}

		.carousel-control {
			.fa{
				font-size:$carousel-control-font-size;
				margin-top:($carousel-control-font-size * 3.5);
			}
		}
	}
}

#features{
	background-color:$white_color;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	position:relative;
	margin-top: -60px;
	@include paddingSections();
	.features-box {
		& div:nth-child(1) .fa{
			color:$pink_color;
		}
		& div:nth-child(2) .fa{
			color:$lightblue_color;
		}
		& div:nth-child(3) .fa{
			color:$green_color;
		}
		.fa{
			font-size:$icon_big;
		}
	}
}

#about{
	background-image: url(../img/img_city.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:$white_color;
	@include paddingSections();	
	.row:first-child div:first-child{
		background-color:$black_bg2;
	}
	p{
		color:$white_color;
		font-size:($p_size * 1.1);
	}
}

#products{
	background-color:$section_gray;
	@include paddingSections();
	.thumbnail{
		padding:$thumbnail_padding;
		img{
			position:relative;
			margin-top: -30px;
			box-shadow:$shadow_img;
			&:hover{
				box-shadow: 0 0.8em 0.8em -0.4em $pink_color;
				transform: translateY(-1em);
				transition-duration: 0.3s;
			}
		}
	}
	
	.caption{
		h6{
			color:$pink_color;
		}
		span{
			font-size:$span_size;
			&:first-child{
				color:$gray_color;
			}
			&:last-child a{
				color:$lightgray_color;
			}
		}
	}		
}

#portfolio{
	background-color:$white_color;
	@include paddingSections();
	.thumbnail{
		@include thumbnailTransparent();
		&:hover{
			background-color:$pink_bg;
			border:$border_pink;
		}
		img{
			box-shadow:$shadow_img;
		}
	}
}

#team{
	background-color:$white_color;
	@include paddingSections();
	.thumbnail{
		@include thumbnailTransparent();
		img{
			box-shadow:$shadow_img;
		}
	}
	.caption .team-social{
		a{
			font-size:1.2em;
			padding:1em;
			@include social();
		}
	}
}

#pricing{
	background-color:$section_gray;
	@include paddingSections();
	.thumbnail{
		padding:$pricing_padding;
		box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
		sup, sub{
			color:$gray_color;
			font-size:$supsub_size;
			font-weight:400;
		}
		.list-group{
			.list-group-item{
				color:$lightgray_color;
				background-color:$transparent;
				border:none;
				border-bottom: 1px solid #ddd;
				&:last-child{
					border:none;
				}
				strong{
					color:$darkgray_color;
				}
			}
		}
		&:hover{
			border:$border_pink;
			transform: translateY(-1em);
			transition-duration: 0.5s;
		}
	}
}