@mixin body(){
	font-family: $body_font;
	background-color:$gray_bg;
	margin: $margin_0;
	padding: $padding_0;
}

@mixin button(){
	color:$white_color;
	background-color:$pink_color;
	border:$border_pink;
	text-transform:$uppercase;
	transition: 0.25s;
}

@mixin btnHoverFocus(){
	background-color:$pink_color;
	box-shadow: 0 0.5em 0.5em -0.4em $pink_color;
	transform: translateY(-0.25em);
}

@mixin paddingSections(){
	padding:$padding_sections;
	.row:first-child{
		padding-bottom:2em;
	}
	.row:last-child{
		padding-top:2em;
	}
}

@mixin thumbnailTransparent(){
	background-color:$transparent;
	border:none;
}

@mixin social(){
	.fa-facebook{
		color:#3b5998;
	}
	.fa-google-plus{
		color:#dd4b39;
	}
	.fa-twitter{
		color:#55acee;
	}
	.fa-linkedin{
		color: #0976b4;
	}
	.fa-pinterest{
		color: #cc2127;
	}
	.fa-dribbble{
		color: #ea4c89;
	}
	.fa-github{
		color: #333;
	}
}