$body_font: 'Roboto', sans-serif;
$title_font: 'Roboto Slab', serif;

$margin_0: 0px;
$padding_0: 0px;
$padding_05: 0.5em;
$padding_1: 1em;
$padding_3: 3em;
$padding_5: 5em;

$padding_navbar:1em 3em;
$padding_sections:4em;
$padding_h1:0.5em 0;
$padding_h2:0.5em 0;
$padding_h4_top:1em;
$padding_h4_bottom:0;
$padding_titleSpan:1em 0em;
$thumbnail_padding: 0 .5em;
$pricing_padding: 2em;
$padding_form:1em;
$margin_btnTitle:5em;

$carousel-control-font-size:2em;
$carousel-slide-height:90vh;

$transparent: transparent;
$black_bg: rgba(0,0,0,0.8);
$black_bg2: rgba(0,0,0,0.4);
$white_bg: rgba(255,255,255,0.1);
$pink_bg: rgba(233,30,99,0.8);
$section_gray: #f0f0f0;
$gray_bg:#ddd;
$footer_black: #323437;

$white_color: whitesmoke;
$black_color: black;
$lightgray_color: #999;
$gray_color: #777;
$darkgray_color: #3c4858;
$pink_color: #e91e63;
$lightblue_color: #00bcd4;
$red_color: #f44336;
$green_color: #4caf50;

$h1_size:4em;
$h2_size: 2.5em;
$h3_size: 3em;
$h5_size:1.2em;
$p_small:1em;
$span_size:1.3em;
$p_size:1.1em;
$icon_big:4.5em;
$supsub_size:0.5em;

$uppercase: uppercase;

$border_pink: 1px solid #e91e63;
$border_gray: 1px solid #999;
$border_form:1px solid #ccc;
$border_radius:10px;
$border_small:5px;

$shadow_img:0 0.6em 0.6em -0.4em rgba(0,0,0,.4);