$body_font: 'Roboto', sans-serif;
$title_font: 'Roboto Slab', serif;

$margin_0: 0px;
$padding_0: 0px;
$padding_05: 0.5em;
$padding_1: 1em;
$padding_3: 3em;
$padding_5: 5em;

$padding_navbar:1em 3em;
$padding_h1:0.5em 0em;
$padding_titleSpan:1em 0em;
$margin_btnTitle:5em;

$carousel-control-font-size:2em;
$carousel-slide-height:90vh;

$transparent: transparent;
$black_bg: rgba(0,0,0,0.8);
$black_bg2: rgba(0,0,0,0.3);
$white_bg: rgba(255,255,255,0.1);
$white_color: whitesmoke;
$black_color: black;
$lightgray_color: #999;
$gray_color: #777;
$darkgray_color: #3c4858;
$pink_color: #e91e63;
$lightblue_color: #00bcd4;
$red_color: #f44336;
$green_color: #4caf50;
$section_gray: #f0f0f0;
$footer_black: #323437;

$h1_size:4em;
$span_size:1.3em;

$uppercase: uppercase;

$border_btn: 1px solid #e91e63;